#Relatório de Análise

In [1]:
import pandas as pd

In [3]:
dados = pd.read_csv("aluguel.csv", sep = ";")

In [6]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        32960 non-null  object
 1   Bairro      32960 non-null  object
 2   Quartos     32960 non-null  int64
 3   Vagas       32960 non-null  int64
 4   Suites      32960 non-null  int64
 5   Area        32960 non-null  int64
 6   Valor       32943 non-null  float64
 7   Condominio  28867 non-null  float64
 8   IPTU        22723 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

# Informações gerais sobre a base de dados

In [8]:
dados.dtypes

Tipo           object
Bairro         object
Quartos         int64
Vagas           int64
Suites          int64
Area            int64
Valor         float64
Condominio    float64
IPTU          float64
dtype: object

In [12]:
tipos_de_dados = pd.DataFrame(dados.dtypes, columns = ['Tipos de Dados'])

In [15]:
tipos_de_dados.columns.name = 'Variáveis'

In [17]:
tipos_de_dados

Variáveis  Tipos de Dados
Tipo               object
Bairro             object
Quartos             int64
Vagas               int64
Suites              int64
Area                int64
Valor             float64
Condominio        float64
IPTU              float64

In [19]:
dados.shape

(32960, 9)

In [20]:
print("A base de dados apresenta {} registros (imóveis) e {} variáveis".format(dados.shape[0], dados.shape[1]))

A base de dados apresenta 32960 registros (imóveis) e 9 variáveis

In [21]:
dados_json = pd.read_json("aluguel.json")

In [23]:
dados_json

                      Tipo           Bairro  Quartos  ...  Valor  Condominio    IPTU
0                Quitinete       Copacabana        1  ...   1700       500.0    60.0
1                     Casa  Jardim Botânico        2  ...   7000         NaN     NaN
2  Conjunto Comercial/Sala  Barra da Tijuca        0  ...   5200      4020.0  1111.0
3              Apartamento           Centro        1  ...    800       390.0    20.0
4              Apartamento     Higienópolis        1  ...    800       230.0     NaN
5              Apartamento     Vista Alegre        3  ...   1200         NaN     NaN
6              Apartamento         Cachambi        2  ...   1300       301.0    17.0
7       Casa de Condomínio  Barra da Tijuca        5  ...  22000         NaN     NaN
8       Casa de Condomínio            Ramos        2  ...   1000         NaN     NaN
9  Conjunto Comercial/Sala           Centro        0  ...  35000     19193.0  3030.0

[10 rows x 9 columns]

In [27]:
dados_txt = pd.read_table('aluguel.txt')

In [29]:
dados_txt

                      Tipo           Bairro  Quartos  ...  Valor  Condominio    IPTU
0                Quitinete       Copacabana        1  ...   1700       500.0    60.0
1                     Casa  Jardim Botânico        2  ...   7000         NaN     NaN
2  Conjunto Comercial/Sala  Barra da Tijuca        0  ...   5200      4020.0  1111.0
3              Apartamento           Centro        1  ...    800       390.0    20.0
4              Apartamento     Higienópolis        1  ...    800       230.0     NaN
5              Apartamento     Vista Alegre        3  ...   1200         NaN     NaN
6              Apartamento         Cachambi        2  ...   1300       301.0    17.0
7       Casa de Condomínio  Barra da Tijuca        5  ...  22000         NaN     NaN
8       Casa de Condomínio            Ramos        2  ...   1000         NaN     NaN
9  Conjunto Comercial/Sala           Centro        0  ...  35000     19193.0  3030.0

[10 rows x 9 columns]

In [30]:
dados_xlsx = pd.read_excel('aluguel.xlsx')

In [32]:
dados_xlsx

                      Tipo           Bairro  Quartos  ...  Valor  Condominio    IPTU
0                Quitinete       Copacabana        1  ...   1700       500.0    60.0
1                     Casa  Jardim Botânico        2  ...   7000         NaN     NaN
2  Conjunto Comercial/Sala  Barra da Tijuca        0  ...   5200      4020.0  1111.0
3              Apartamento           Centro        1  ...    800       390.0    20.0
4              Apartamento     Higienópolis        1  ...    800       230.0     NaN
5              Apartamento     Vista Alegre        3  ...   1200         NaN     NaN
6              Apartamento         Cachambi        2  ...   1300       301.0    17.0
7       Casa de Condomínio  Barra da Tijuca        5  ...  22000         NaN     NaN
8       Casa de Condomínio            Ramos        2  ...   1000         NaN     NaN
9  Conjunto Comercial/Sala           Centro        0  ...  35000     19193.0  3030.0

[10 rows x 9 columns]

In [33]:
df_html = pd.read_html('dados_html_1.html')

In [35]:
df_html[0]

  FAIXA ETÁRIA UNAFISCO SAÚDE SOFT II SOFT PARTICIPATIVO      UNIQUE
0      00 A 18               R$218,99           R$192,60    R$334,48
1      19 A 23               R$263,63           R$207,67    R$380,06
2      24 A 28               R$322,44           R$224,26    R$464,39
3      29 A 33               R$402,05           R$258,63    R$566,68
4      34 A 38               R$455,17           R$306,37    R$664,61
5      39 A 43               R$489,29           R$417,93    R$742,72
6      44 A 48               R$582,65           R$495,24    R$869,47
7      49 A 53               R$718,86           R$562,64  R$1.046,29
8      54 A 58               R$908,54           R$721,00  R$1.355,74
9   59 OU MAIS             R$1.244,50         R$1.151,62  R$2.003,53

In [36]:
df_html = pd.read_html('https://www.federalreserve.gov/releases/h3/current/default.htm')

In [37]:
df_html[0]

                  Date  ...                                       Reserve balances maintained 4
                  Date  ... Balances maintained that exceed the top of the penalty- free band 6
0              Month 7  ...                                            Month 7
1            Aug. 2019  ...                                            1373321
2           Sept. 2019  ...                                            1292273
3            Oct. 2019  ...                                            1333462
4            Nov. 2019  ...                                            1375085
5            Dec. 2019  ...                                            1477528
6            Jan. 2020  ...                                            1486619
7            Feb. 2020  ...                                            1505377
8            Mar. 2020  ...                                            1921000
9            Apr. 2020  ...                                            2953586
10            May 2020  ...                                            3217635
11           June 2020  ...                                            3043556
12           July 2020  ...                                            2718529
13           Aug. 2020  ...                                            2799719
14                 NaN  ...                                                NaN
15  Two weeks ending 8  ...                                 Two weeks ending 8
16       July 15, 2020  ...                                            2795785
17       July 29, 2020  ...                                            2623526
18       Aug. 12, 2020  ...                                            2751124
19       Aug. 26, 2020  ...                                            2821740
20       Sept. 9, 2020  ...                                            2854690

[21 rows x 7 columns]