# Relatório 4

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('residencial.csv', sep = ';')

In [3]:
dados

              Tipo                Bairro  Quartos  ...   Valor  Condominio  IPTU
0        Quitinete            Copacabana        1  ...  1700.0       500.0  60.0
1             Casa       Jardim Botânico        2  ...  7000.0         NaN   NaN
2      Apartamento                Centro        1  ...   800.0       390.0  20.0
3      Apartamento          Higienópolis        1  ...   800.0       230.0   NaN
4      Apartamento          Vista Alegre        3  ...  1200.0         NaN   NaN
...            ...                   ...      ...  ...     ...         ...   ...
22575  Apartamento                 Méier        2  ...   900.0       490.0  48.0
22576    Quitinete                Centro        0  ...   800.0       350.0  25.0
22577  Apartamento           Jacarepaguá        3  ...  1800.0       800.0  40.0
22578  Apartamento  São Francisco Xavier        2  ...  1400.0       509.0  37.0
22579  Apartamento                Leblon        2  ...  3000.0       760.0   NaN

[22580 rows x 9 columns]

## Selecione somente os imóveis classificados com tipo 'Apartamento'

In [5]:
filtro_apartamento = dados['Tipo'] == 'Apartamento'

In [9]:
n1 = dados[filtro_apartamento].shape[0]
n1

19532

## Selecione os imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'.

In [16]:
filtro2 = (dados['Tipo'] == 'Casa' ) | (dados['Tipo'] == 'Casa de Condomínio') | (dados['Tipo'] == 'Casa de Vila')
n2 = dados[filtro2]
n2.shape[0]

2212

## Selecione os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites.

In [19]:
filtro3 = (dados['Area'] >= 60) & (dados['Area'] <= 100)
n3 = dados[filtro3]
n3

                     Tipo                    Bairro  ...  Condominio   IPTU
1                    Casa           Jardim Botânico  ...         NaN    NaN
4             Apartamento              Vista Alegre  ...         NaN    NaN
7      Casa de Condomínio                     Ramos  ...         NaN    NaN
9             Apartamento                    Grajaú  ...       642.0   74.0
10            Apartamento       Lins de Vasconcelos  ...       455.0   14.0
...                   ...                       ...  ...         ...    ...
22568         Apartamento  Recreio dos Bandeirantes  ...       790.0    NaN
22570         Apartamento                    Leblon  ...      1010.0  249.0
22575         Apartamento                     Méier  ...       490.0   48.0
22577         Apartamento               Jacarepaguá  ...       800.0   40.0
22579         Apartamento                    Leblon  ...       760.0    NaN

[8719 rows x 9 columns]

## Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00.

In [22]:
filtro4 = (dados['Quartos'] >= 4) & (dados['Valor'] < 2000)
n4 = dados[filtro4]
n4.shape[0]

41